@font-face {
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 100;
  src: url('./NotoSansKR-Light.ttf');
}

@font-face {
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: normal;
  src: url('./NotoSansKR-Regular.ttf');
}

@font-face {
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 500;
  src: url('./NotoSansKR-Medium.ttf');
}

@font-face {
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: bold;
  src: url('./NotoSansKR-Bold.ttf');
}

@font-face {
  font-family: 'Partial Sans KR';
  font-style: normal;
  src: url('./PartialSansKR-Regular.otf') format('opentype');
}

@font-face {
  font-family: 'Gmarket Sans Bold';
  font-style: normal;
  font-weight: bold;
  src: url('./GmarketSansTTFBold.ttf');
}

@font-face {
  font-family: 'Gmarket Sans Light';
  font-style: normal;
  font-weight: normal;
  src: url('./GmarketSansTTFLight.ttf');
}

@font-face {
  font-family: 'Gmarket Sans Medium';
  font-style: normal;
  font-weight: normal;
  src: url('./GmarketSansTTFMedium.ttf');
}


